@*<div class="font-semibold font-title">Configure your Q&A here</div>*@
<p>
    <div>
        <label for="tabChoice">Which messages do you want to show? </label>
        <select id="tabChoice" name="tabChoice">
            <option value="Questions only" selected="selected">Questions only</option>
            <option value="Questions and comments">Questions and comments</option>
        </select>
    </div>
</p>